url: https://example.com/NoAuth-REST/1.0
creds:
    user: foo
    pass: barbar

queues:
    - cis-unix
    - cis-windows
    - cis-csa
    - cis-io

# all units in hours
states:
    # parameters for new tickets
    new:
        created:
            fast: 1
            slow: 4

    # parameters for opened tickets
    open:
        updated:
            fast: 8
            slow: 40

    # parameters for stalled tickets
    stalled:
        updated:
            fast: 0
            slow: 672

# don't analyze tickets with these states
skip_states:
    - resolved
    - rejected

#if you want to default to looking for specific owners
#enter them as follows; or on the same line: owners: <owner1>
owners:
    #- owner1
    #- owner2
